{% extends "base.html" %}

{% block content %}
<h2>منوی رستوران</h2>

{% for food in foods %}
    <div style="border:1px solid #ccc; padding:10px; margin:10px">
        {% if food.image %}
            <img src="{{ food.image.url }}" width="200">
        {% endif %}

        <h3>{{ food.name }}</h3>
        <p>{{ food.description }}</p>
        <p>💰 {{ food.price }} تومان</p>

        <a href="{% url 'orders:create' %}" class="btn btn-success">
            ثبت سفارش
        </a>
    </div>
{% empty %}
    <p>غذایی موجود نیست</p>
{% endfor %}

{% endblock %}



 


