<nav>
    <a href="{% url 'home' %}">خانه</a>

    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <a href="{% url 'foods:admin_list' %}">مدیریت غذا</a>
        {% else %}
            <a href="{% url 'foods:menu' %}">منو</a>
        {% endif %}

        <a href="{% url 'users:logout' %}">خروج</a>
    {% else %}
        <a href="{% url 'foods:menu' %}">منو</a>
        <a href="{% url 'users:login' %}">ورود</a>
        <a href="{% url 'users:register' %}">ثبت‌نام</a>
    {% endif %}
</nav>


<hr>

{% block content %}{% endblock %}

</body>
</html>

